.container {
    display: flex;
}
.image-container {
    width: 50%;
    position: relative;
}
.banner-image {
    position: absolute;
    width: 100%;
    height: auto;
    display: none;
}
.banner-image.active {
    display: block;
}
.text-container {
    width: 50%;
    background-color: #6D7664;
    padding: 20px;
    color: white;
}
.category:hover {
    cursor: pointer;
    font-weight: bold;
}
